---
import Layout from "@layouts/Layout.astro";
import Hero from "@layouts/Hero.astro";
import Navbar from "@layouts/Navbar.astro";
import Projects from "@layouts/Projects.astro";
import Contact from "@layouts/Contact.astro";
import References from '@layouts/References.astro';
import GoTop from "@/components/GoTop.astro";
---

<Layout title="Luis Dev Portfolio">
    <Navbar />
    <main class="flex flex-col justify-center items-center lg:px-[460px] md:px-52 sm:px-36 px-12">
        <Hero />
        <Projects />
        <References />
        <Contact />
    </main>
    <GoTop />
</Layout>
