---
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<button class="hover:bg-accent hover:text-primary py-4 px-4 md:px-7 rounded-md transition duration-150 text-sm md:text-[16px] font-bold text-center">{text}</button>
