---
import '@splidejs/splide/css';

interface Props {
    images: {
        url: string;
        alt: string;
    }[];
}

const { images } = Astro.props;
---

<section class="splide" aria-label="Image Gallery">
    <div class="splide__track">
        <ul class="splide__list">
            {images.map((image) => (
                <li class="splide__slide">
                    <img
                        src={image.url}
                        alt={image.alt}
                        class="w-full h-full object-cover rounded-lg"
                        decoding="async"
                    />
                </li>
            ))}
        </ul>
    </div>
</section>

<script>
    import Splide from '@splidejs/splide';
    import type { Options } from '@splidejs/splide';

    const options: Options = {
        type: 'loop',
        perPage: 1,
        width: '100%',
        autoplay: false,
        lazyLoad: 'nearby',
        breakpoints: {
            640: { perPage: 1 },
            768: { perPage: 1 },
            1024: { perPage: 1 },
        },
    };

    document.addEventListener('astro:page-load', () => {
        const splideElements = document.querySelectorAll('.splide');

        splideElements.forEach((element) => {
            if (element instanceof HTMLElement) {
                const splide = new Splide(element, options);
                splide.mount();
            }
        });
    });
</script>
