---
---

<nav class="border border-gray-400 border-opacity-30 divide-y divide-gray-400 divide-opacity-30 rounded-t-xl rounded-b-xl sticky z-10 top-[40vh] flex flex-col gap-0 w-min">
    <button class="proyectButton rounded-t-xl button1">
        1
        <span class="sr-only">
            Ir al proyecto 1
        </span>
    </button>
    <button class="proyectButton button2">
        2
        <span class="sr-only">
            Ir al proyecto 2
        </span>
    </button>
    <button class="proyectButton rounded-b-xl button3">
        3
        <span class="sr-only">
            Ir al proyecto 3
        </span>
    </button>
</nav>

<style>
    .proyectButton{
        @apply w-8 h-min py-3 sm:w-12 backdrop-brightness-125 font-bold md:text-lg hover:bg-gray-400 hover:bg-opacity-50 transition-all duration-200;
    }

    .activeButton{
        @apply bg-slate-200 hover:bg-slate-200 hover:bg-opacity-100 text-gray-900 scale-105;
    }
</style>

<script>
    const button1 = document.querySelector(".button1");
    const button2 = document.querySelector(".button2");
    const button3 = document.querySelector(".button3");

    const scrollWithOffset = (element, offset = 0) => {
        const elementPosition = element.getBoundingClientRect().top + window.scrollY;
        window.scrollTo({
            top: elementPosition + offset,
            behavior: "smooth",
        });
    };

    button1.addEventListener("click", () => {
        scrollWithOffset(document.querySelector("#proyecto1"), -100);
    });

    button2.addEventListener("click", () => {
        scrollWithOffset(document.querySelector("#proyecto2"), -100);
    });

    button3.addEventListener("click", () => {
        scrollWithOffset(document.querySelector("#proyecto3"), -100);
    });

    const options = {
        root: null,
        rootMargin: "0px",
        threshold: 0.5
    };

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                if (entry.target.id === "proyecto1") {
                    button1.classList.add("activeButton");
                    button2.classList.remove("activeButton");
                    button3.classList.remove("activeButton");
                } else if (entry.target.id === "proyecto2") {
                    button2.classList.add("activeButton");
                    button1.classList.remove("activeButton");
                    button3.classList.remove("activeButton");
                } else if (entry.target.id === "proyecto3") {
                    button3.classList.add("activeButton");
                    button1.classList.remove("activeButton");
                    button2.classList.remove("activeButton");
                } else {
                    button1.classList.remove("activeButton");
                    button2.classList.remove("activeButton");
                    button3.classList.remove("activeButton");
                }
            }
        });
    }, options);

    document.querySelectorAll(".project-section").forEach((section) => {
        observer.observe(section);
    });


</script>