---
// import { SiGmail } from "react-icons/si";
// import { SiWhatsapp } from "react-icons/si";
import FormContact from "@/components/FormContact.astro"
---

<section class="flex flex-col text-white w-full h-screen mt-40 mb-96">
    <h1 class="text-4xl md:text-6xl p-8 text-white font-bold text-center backdrop-brightness-125 border border-gray-400 border-opacity-10 rounded-lg hover:scale-105 transition-all duration-200 mb-16 sm:mb-24">
        Contacto
    </h1>
    <FormContact />
</section>