---
// import { SiGmail } from "react-icons/si";
// import { SiWhatsapp } from "react-icons/si";
import FormContact from "@/components/FormContact.astro"
---

<section class="flex flex-col text-white w-full h-screen mt-40 mb-96">
    <h1 class="tittles">
        Contacto
    </h1>
    <FormContact />
</section>