---
import Button from "@components/Button.astro"
import IdiomSwitcher from "@components/IdiomSwitcher.astro"
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<nav class="fixed top-0 z-50 h-14 md:h-20 w-full flex justify-between items-center bg-transparent text-white transition duration-500 ease-out lg:px-[290px] md:px-32 sm:px-24 px-4">
    <div></div>
    <div class="flex justify-center gap-2">
        <Button text={t("nav.home")} />
        <Button text={t("nav.projects")} />
        <Button text={t("nav.contact")}/>
    </div>
    <IdiomSwitcher />
</nav>

<style>
    .onScroll{
        @apply border-b border-gray-400 border-opacity-25 backdrop-blur-sm backdrop-brightness-50;
    }
</style>

<script>
    window.addEventListener('scroll', () => {
        const nav = document.querySelector('nav');
        if (window.scrollY > 10) {
            nav.classList.add('onScroll');
            nav.classList.remove('bg-transparent');
        } else {
            nav.classList.remove('onScroll');
            nav.classList.add('bg-transparent');
        }
    });
</script>
