---
import Button from "@components/Button.astro";
---

<nav class="fixed top-0 z-50 h-14 md:h-20 w-full flex justify-center items-center bg-transparent text-white transition duration-500 ease-out">
    <Button text="Inicio" />
    <Button text="Proyectos" />
    <Button text="Contacto"/>
</nav>

<style>
    .onScroll{
        @apply border-b border-gray-400 border-opacity-25 backdrop-blur-sm backdrop-brightness-50;
    }
</style>

<script>
    window.addEventListener('scroll', () => {
        const nav = document.querySelector('nav');
        if (window.scrollY > 10) {
            nav.classList.add('onScroll');
            nav.classList.remove('bg-transparent');
        } else {
            nav.classList.remove('onScroll');
            nav.classList.add('bg-transparent');
        }
    });
</script>
