---
import CardReferences from "@components/CardReferences.astro"
---

<section class="flex flex-col text-white w-full h-min mt-40">
    <h1 class="text-4xl md:text-6xl p-8 text-white font-bold text-center backdrop-brightness-125 border border-gray-400 border-opacity-10 rounded-lg hover:scale-105 transition-all duration-200 mb-16 sm:mb-24">Referencias</h1>
    <CardReferences
        company="IArcos.cl"
        manager={{
            name: "José Arcos",
            email: "jose.arcos@iarcos.cl",
            img: "img/manager-profile.webp"
            }}
        links={{
            linkedin: "https://www.linkedin.com/in/jose-luis-arcos-luco-3427b391/",
            github: "https://github.com/JoseArcosLuco",
            companyLink: "https://iarcos.cl/empresa/"
        }}
    >
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sed laboriosam amet voluptatum voluptatem quis rerum nihil debitis nostrum ratione, doloribus mollitia praesentium, temporibus voluptates quidem voluptatibus aspernatur autem vitae.</p>
    </CardReferences>
</section>