---
import CardReferences from "@components/CardReferences.astro"
import HTMLRenderer from "@/i18n/HTMLRenderer.astro";
import { FaQuoteLeft } from "react-icons/fa";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section class="flex flex-col text-white w-full h-min mt-40" id="refSection">
    <h1 class="tittles">{t('references.title')}</h1>
    <CardReferences
        company="IArcos.cl"
        manager={{
            name: "José Arcos",
            email: "jose.arcos@iarcos.cl",
            img: "img/manager-profile.webp"
            }}
        links={{
            linkedin: "https://www.linkedin.com/in/jose-luis-arcos-luco-3427b391/",
            github: "https://github.com/JoseArcosLuco",
            companyLink: "https://iarcos.cl/empresa/"
        }}
    >
        <p>
            <FaQuoteLeft className="inline mt-[-10px]"/>
            <HTMLRenderer content={t('references.1.p')} />
        </p>
    </CardReferences>
</section>